/* Base styles */
body {
color: #434455;
background-color:  #FFFFFF;
font-family: "Roboto", sans-serif;
font-style: normal
}
/* Base style */

/* Default values */
/* font-weight:400;
font-size:16px;
font-style: normal;
color: black;
background-color: #FFFFFF; */

/* Reset styles */
h1,h2,h3,h4,h5,p,h6 {
margin: 0;
}
ul,
ol {
list-style-type: none;
margin: 0;
padding: 0;
}
a {
color: currentColor;
text-decoration: none;
}
h2 {
color:  #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;   
}
h3 {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
p {
line-height: 1.5;
letter-spacing: 0.02em;
}
/* Common styles */


.container {
width: 1158px;
padding-left: 15;
padding-right: 15;
margin-left: auto;
margin-right: auto;

outline: 2px solid red;
outline: -2px;

}

/*--header */
.header {
padding: 100px;

}
.header-container {

}

.logo {
}
.header-nav {
color: #4D5AE5;
font-family: Raleway,sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
width: 44px;
display: flex;
margin-left: 156px;
}

.logo-dark {
color: #2E2F42;
width: 71px;
margin-right: 147px;
}

.header-list {
display: flex;
} 
.header-items {
font-size:16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-right: 40px;
}
.header-items:last-child {
 margin-right: 0;
}
.header-link {
color: #2E2F42; 
font-style: norma;
}
.header-link:hover,
.header-link:focus {
color: #404BBF;
}

details {
font-style: normal;
}
.header-address {
display: flex;
 }
.header-address-items {
display: flex;
margin-right: 40px;
}
.header-address-items:last-child {
margin-right: auto;
}

.header-details {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing : 0.02em;
}


.header-details:hover,
.header-details:focus {
color: #404BBF;
}
/* main */
/* section-hero */
/* region */
 .hero {
background-color: #2E2F42;
} 
.div-hero {
}
 .hero-title {
background-color:#2E2F42;
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
margin-bottom: 292px;
margin-left: auto;
margin-right: auto;
}
 button {
color: #FFFFFF;
background: #4D5AE5;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
margin-bottom: 188px;
margin-left: auto;
margin-right: auto;
}
 button:hover,
 button:focus {
background-color: #404BBF;
}
 /* endregion */
/* region */
/* section-service */
.service {
background: #FFF;
}
.service-list {
}
.servis-items {
}
.service-caption {
width: 264px;
}
.service-desc {
width: 264px;
margin-bottom: 160px;
}
 /* endregion */
/* section-team */
.team {
background-color: #F4F4FD;
}
.team-wrapper {

}
.team-items {
background-color: #FFFFFF;
background: #FFF;
}
.team-pic {
}
.team-title {
}
.team-descr {
}
/* section-port */
.port {

}
.port-title {
}
.port-list {
}
.port-items {
}
.port-pic {
}
.port-caption {
}
.port-desc {
}

/* footer*/
.foot {
 background-color: #2E2F42;
 height: 312px;
}
.logo-ligh {
color: #F4F4FD;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.foot-logo {
color: #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
width: 44px;
}
.foot-social {
background-color: #2E2F42;
color: #F4F4FD;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.03em;
width: 71px;
}
.foot-social {
}
.foot-list {
}
.foot-items {
}
.foot-link {
}
.socials-icon {
}
.foot-caption {
color: #F4F4FD;
width: 264px;
}
