/* Base styles */
body {
color: #434455;
background-color:  #FFFFFF;
font-family: "Roboto", sans-serif;
font-style: normal
}
/* Base style */

/* Default values */
/* font-weight:400;
font-size:16px;
font-style: normal;
color: black;
background-color: #FFFFFF; */

/* Default properties */




/* Reset styles */
h1,h2,h3,h4,h5,p,h6 {
margin: 0;
}
ul,
ol {
list-style-type: none;
margin: 0;
padding: 0;
}
 img {
display: block;
min-width: 100%;
height: auto;
} 
a {
color: currentColor;
text-decoration: none;
}
h2 {
color:  #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;   
}
h3 {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
p {
line-height: 1.5;
letter-spacing: 0.02em;
}
/* Common styles */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(100px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px; 
  border: 0;
  padding: 0;
}

.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

/*--header */
.header {
  border-bottom: 1px solid #e7e9fc
}

.header-container {
display: flex;
}

.logo {

}
.header-nav {
color: #4D5AE5;
font-family: Raleway,sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
display: flex;
margin-right: auto;
align-items: center;
}

.logo-dark {
color: #2E2F42;
margin-right: 76px;
}

.header-list {
display: flex;
align-items: center;
padding-top: 24px;
padding-bottom: 24px;
} 
.header-items {
font-size:16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-right: 40px;
}
.header-items:last-child {
margin-right: 0;

}

.header-link {
color: #2E2F42; 
font-style: norma;
display: block;
}
.header-link:hover,
.header-link:focus {
color: #404BBF;
}

details {
font-style: normal;
}
.header-address {
display: flex;
margin-right: 40px;
align-items: center;

 }
.header-address-items {
padding-top: 24px;
padding-bottom: 24px;
}
.header-details {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing : 0.02em;
margin-right: 40px;

}
.header-details :last-child {
margin-right: 0;
}
.header-details:hover,
.header-details:focus {
color: #404BBF;
}
/* main */
/* section-hero */
/* region */
.hero {
background-color: #2E2F42;
} 

.hero-container {
padding-top: 188px 0;
}
 .hero-title {
background-color:#2E2F42;
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
padding-bottom: 48px;
margin-right: auto;
margin-left: auto;
 }
 .hero-button {
border-radius: 4px;
min-width: 169px;
height: 56px;
border: none;
align-items: flex-start;
gap: 10px;
background: #4D5AE5;
margin-right: auto;
margin-left: auto;
display: block;
 }

 button {
color: #FFFFFF;
font-weight: 500;
line-height: 1.5;
font-size: 16px;
letter-spacing: 0.04em;
cursor: pointer;
padding: 16px 32px;
}
 button:hover,
 button:focus {
background:#404BBF;
}
 /* endregion */
/* region */
/* section-service */
.service {
background: #FFF;
padding-top : 120px 0;
}
.service-list {
display: flex;
gap: 24px;
justify-content: center;

}
.servis-items {
width: 264px;
  
}
.service-caption {
padding-bottom: 8px;
}
.service-desc {
width: 264px;
}
 /* endregion */
/* section-team */
.team {
background-color: #F4F4FD;
padding-top: 120px;
}
.team-container {
display: flex;
width: 232px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;

}
.team-wrapper {
display: flex;
gap: 24px;
padding-bottom: 120px;
}
.team-items {
border-radius: 0px 0px 4px 4px;
background: #FFF;
width: 264px;

}
.team-pic {
}
.team-title {
  text-align: center;
  padding-bottom: 8px;
}
.team-descr {
  text-align: center;
}
/* section-port */
.port {
padding-bottom: 120px;
}
.port-container {
display: flex;
border: 1px solid #E7E9FC; 
border-top: none;
padding: 32px 16px;
justify-content: center;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}
.port-title {
padding-top: 80px;
}
.port-list {
display: flex;
flex-wrap: wrap;
gap: 24px;
}
.port-items {    
width: calc((100% - 2 * 24px) / 3);
background: #FFF;
}
 .port-pic {
}
.port-caption {
  margin-bottom: 8px;
}
.port-desc {  
}

/* footer*/
.foot {
 background-color: #2E2F42;
}
.foot-container {
padding: 100px 0;
}
.logo-ligh {
color: #F4F4FD;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.foot-logo {
color: #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-left: 156px;
margin-bottom: 16px
}
.foot-caption {
color: #F4F4FD;
width: 264px;
padding-bottom: 100px;
margin-right: 1020px;
margin-left: 156px;
display: inline-block;
}
